/AD/AD/TemaCeero/nbproject/private/
/AD/Tema0Ejemplos/nbproject/private/
/AD/Tema0Ejemplos/build/
/AD/Tema1/nbproject/private/
/AD/Tema1/build/
/AD/Tema1EjerciciosFicheros/nbproject/private/
/AD/Tema1EjerciciosFicheros/build/
/AD/Tema1EjerciciosFicherosTokens/nbproject/private/
/AD/Tema1EjerciciosFicherosTokens/build/
/AD/Tema1EjerciciosFicherosSerializacion/nbproject/private/
/AD/Tema1EjerciciosFicherosSerializacion/build/
/AD/Practica1Tema1/nbproject/private/
/AD/RepasoFicheros/nbproject/private/
/AD/RepasoFicheros/build/