/AD/AD/TemaCeero/nbproject/private/
/AD/Tema0Ejemplos/nbproject/private/
/AD/Tema0Ejemplos/build/
/AD/Tema1/nbproject/private/
/AD/Tema1/build/
/AD/Tema1EjerciciosFicheros/nbproject/private/
/AD/Tema1EjerciciosFicheros/build/